<header>
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="responsive-menu">
    <div class="row column">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{ site.title | escape }}</li>
            <li>
              <a href="{{ "/" | relative_url }}">Home</a>
            </li>
            <li>
              <a href="{{ "/about" | relative_url }}">About</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</header>
